## 11/11/25

## JSON Data Dictionary / list Conversion

### 1. json

In [1]:
import json

data = '{"Name": "David", "Age": 25, "HObhy": ["basketball"],"family": {"Father": "John", "mother": "marry"}, "Married": true}'

json_data = json.loads(data)

json_data1 = json.dumps(json_data)

print(type(json_data))
print(json_data['Name'])


print(json_data1)
data

<class 'dict'>
David
{"Name": "David", "Age": 25, "HObhy": ["basketball"], "family": {"Father": "John", "mother": "marry"}, "Married": true}

'{"Name": "David", "Age": 25, "HObhy": ["basketball"],"family": {"Father": "John", "mother": "marry"}, "Married": true}'

In [10]:
data = '{"title": "the old man and the Sea", "ISBN": "12345", "Author": "Ernest Hemingway"}'

json_data = json.loads(data)
print(json_data)

with open('book.json', 'w') as f:
    json.dump(json_data, f)

{'title': 'the old man and the Sea', 'ISBN': '12345', 'Author': 'Ernest Hemingway'}

## Dictionary

In [13]:
phone = {}
phone['brand'] = 'Apple'

phone

{'brand': 'Apple'}

In [16]:
phone.pop('brand')
phone

{}

In [24]:
list1 = [1, 2, 3, 4, 5]

print("befor pop(0)", list1)
print("before pop(1)", list1[1])
list1.pop(0)
print("after pop(0)", list1)
print("after pop(1)", list1[1])

befor pop(0) [1, 2, 3, 4, 5]
before pop(1) 2
after pop(0) [2, 3, 4, 5]
after pop(1) 3

In [27]:
dict1 = {0:11, 1:22, 2:33, 3:44, 4:55}

print("before pop(0): ", dict1.items())
print("before pop(1): ", dict1[1])
dict1.pop(0)
print("after pop(0): ", dict1.items())
print("after pop(1): ", dict1[1])

before pop(0):  dict_items([(0, 11), (1, 22), (2, 33), (3, 44), (4, 55)])
before pop(1):  22
after pop(0):  dict_items([(1, 22), (2, 33), (3, 44), (4, 55)])
after pop(1):  22

In [29]:
'{} python!'. format('Hello')

'Hello python!'

In [31]:
'I like {0} and {1}'. format('Python', 'Java')

'I like Python and Java'

In [34]:
'I like {1} and {0}'. format('Python', 'Java')

'I like Java and Python'

In [37]:
# Formatting numbers with specific width -> contains the extra spaces

print('12345678901234567890')
print('{0:4d},{0:5d},{0:6d}'.format(123))

12345678901234567890
 123,  123,   123

In [41]:
'Precision of decimal places : {0:.2f}, Precision of three decimal places: {0:.3f}'.format(1/3)

'Precision of decimal places : 0.33, Precision of three decimal places: 0.333'

In [43]:
'real number for 19 spaces : {0:10.3f}, {0:10.4f}'.format(3.14159265359)

'real number for 19 spaces :      3.142,     3.1416'

In [55]:
for i in range(2,51,2):
    print('{0:3d} {1:5d} {2:7d}'.format(i, i*i,i*i*i))

  2     4       8
  4    16      64
  6    36     216
  8    64     512
 10   100    1000
 12   144    1728
 14   196    2744
 16   256    4096
 18   324    5832
 20   400    8000
 22   484   10648
 24   576   13824
 26   676   17576
 28   784   21952
 30   900   27000
 32  1024   32768
 34  1156   39304
 36  1296   46656
 38  1444   54872
 40  1600   64000
 42  1764   74088
 44  1936   85184
 46  2116   97336
 48  2304  110592
 50  2500  125000

In [62]:
# combine two ranges by converting them to lists first
list(range(10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [63]:
tuple(range(5)) + tuple(range(5,11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [66]:
list(range(10, 20)) * 0

[]

In [67]:
list

list

## Tuple Methods

In [69]:
tup1 = (11,11,11,22,33,33)
print(tup1.count(11))

3

In [76]:
ran = range(1,5,2)
print(ran.count(2))
print(len(ran))

type(ran)

0
2

range

In [80]:
a = ('A', 'B', 'C')
b = ('A', 'B', 'C')

ord('c')

99

In [83]:
ord('C')

67

In [89]:
'c' > 'C'

True

In [88]:
ray = [1,2,3,4,5]
bArray = bytearray(ray)

bArray

bytearray(b'\x01\x02\x03\x04\x05')