# Date : 31/12/25

# Dictionary
A Dictionary is a **mutable** collection of data stored in **Key-Value pairs**. It acts like a real-world dictionary where you look up a word (Key) to find its definition (Value).
* **Syntax:** Defined using curly braces `{key: value}`.

## Why are Dictionaries Important in Industry?
Dictionaries are the standard way to represent structured data in modern software development:
1.  **API Responses (JSON):** Web APIs almost always return data in JSON format, which translates directly into a Python Dictionary.
2.  **Database Records:** NoSQL databases (like MongoDB) and SQL query results are often handled as dictionaries.
3.  **Configuration Files:** Settings for applications are stored in Key-Value formats.
4.  **User Profiles:** Storing attributes like `{ "username": "John", "role": "Admin" }`.



## Characteristics
1.  **Key-Value Pair:** Data is stored as a map (`Key -> Value`).
2.  **Mutable:** You can add, update, or remove items after creation.
3.  **Ordered (Python 3.7+):**
    * *Historical Context:* Before Python 3.7, dictionaries were unordered.
    * *Modern Python:* Dictionaries preserve the **insertion order** (the order in which you added items).
4.  **Duplicate Keys Not Allowed:** Keys must be unique (hashing concept). If you define a duplicate key, the **last assignment wins**.
5.  **Duplicate Values Allowed:** You can have multiple keys point to the same value (e.g., two different users can have the same "age").

In [24]:
# empty dictionary

dictionary = {}
print(type(dictionary))

<class 'dict'>

In [17]:
dictionary = {'name' : 'Alice', 'age': 30, 'city': 'New York'}

print(dictionary['name']) 
dictionary["clg"] = "PCU"		# Add
print(dictionary)

Alice
{'name': 'Alice', 'age': 30, 'city': 'New York', 'clg': 'PCU'}

In [18]:
# Update

dictionary["name"] = "Prathamesh"
dictionary['age'] = 21
dictionary['city'] = "Pune"
dictionary

{'name': 'Prathamesh', 'age': 21, 'city': 'Pune', 'clg': 'PCU'}

### *imp : difference between pop and del

In [19]:
# To remove use : remove() or del keyword

clg = dictionary.pop('clg')		# POP returns the removed value
print(clg)
print(dictionary)

del dictionary['age']
print(dictionary)

PCU
{'name': 'Prathamesh', 'age': 21, 'city': 'Pune'}
{'name': 'Prathamesh', 'city': 'Pune'}

In [20]:
# key

dictionary.keys()

dict_keys(['name', 'city'])

In [21]:
# values

dictionary.values()

dict_values(['Prathamesh', 'Pune'])

In [22]:
# items

dictionary.items()

dict_items([('name', 'Prathamesh'), ('city', 'Pune')])

## Merge 2 dictionary

In [41]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)
print(dict1)

# another method
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

for key, value in dict2.items():
    dict1[key] = value
print(dict1)

# another method
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

print(dict1 | dict2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Nested Dictioanry

In [38]:
pcu = {
    'soe': {'cse': 700, 'aiml' : 100, 'aids' : 120},
    'sos' : {'cyber-security': 80, 'nutrition': 60},
    'soca' : {'bca' : 120, 'mca': 150}
}

print(pcu['soe']['aiml'])
print(pcu['soca']['mca'])

100
150

### *get() : will not raise error if the key is not present in the particular dictionary. it will return 'none' or the default value

In [46]:
dict1 = {'a': 1, 'b': 2, 'c': 3}

print(dict1.get('b'))  # Output: 2
print(dict1.get('d'))  # Output: None
print(dict1.get('d', 'Not Found'))  # Output: Not Found

2
None
Not Found

In [ ]:
# copy

og = {'x': 10, 'y': 20}
copy_og = og.copy()
copy_og

{'x': 10, 'y': 20}

In [49]:
# verify username and password

cred = {'user': 'admin', 'password': '1234'}

username = input("Enter username: ")
password = input("Enter password: ")

if cred['user'] == username and cred['password'] == password : 
    print("Login Successful")
else : 
    print("Login Failed")

Login Successful

In [56]:
# empolyee increment

salary ={'a': 30000, 'b': 40000}

for emp in salary.keys():
    salary[emp] += salary[emp] * 0.10

print(salary)

{'a': 33000.0, 'b': 44000.0}

In [58]:
# total bill

cart ={'laptop' : 50000, 'mouse': 500}
total = 0

for item in cart.values():
    total += item
    
print(f"bill : {total}")

# another method
print(sum(cart.values()))

bill : 50500
50500

In [62]:
# inventory mgmt
stock = {'pen' : 20, 'notebook' : 15}
sold = {'notebook' : 5, 'pen' : 5}

for i in sold.keys():
    stock[i] -= sold[i]

stock

{'pen': 15, 'notebook': 10}

# String

collection of characters

## String Declaration:
1. single line : "..."
2. multi-line : '''...'''

In [ ]:
# concatination

s1 = "hello"
s2 = "world!"
print(s1+s2)

helloworld!

In [8]:
s3 = '''this is multi line
hello world'''

print(s3)

this is multi line
hello world

In [10]:
s1[1]

'e'

In [12]:
s1[-3]

'l'

## String Slicing

In [24]:
print(s3[:])	# complete string
print()
print(s3[::-1])	# reverse string
print()
print(s3[::3])
print()
print(s3[:10])
print()
print(s3[6:])
print()
print(s3[-8:-2])
print()
print(s3[-2:-8]) 	# --> No Output as -8 is smaller then -2

this is multi line
hello world

dlrow olleh
enil itlum si siht

tssuii
l r

this is mu

s multi line
hello world

lo wor

In [25]:
# replication

print('a'*4)

aaaa

### String Methods : 
1. lower()
2. upper()
3. strip()
4. lstrip()
5. rstrip()
6. replace()
7. split()
8. islower()
9. isupper()
10. istitle()
11. isdigit()
12. index()
13. rindex()
14. find()
15. rfind()
16. join()
17. min()
18. max()

### membership operator
1. in 
2. not in

* difference between find and index

In [61]:
s1 = 'QWerty'

print(s1.lower())
print(s1.upper())

# strip

s2 = "           python programming            "
print(s2)
print(s2.strip())

s3 = "@@@helooo###"
print(s3.lstrip('@').rstrip('#'))
print(s3.strip('@#'))

s4 = 'welcome python session'
print(s4.replace('python', 'java'))

print(s4.split())
print(s4.split('e'))		# split at every 'e'
print(s4.split('e', 2))		# monly first 2 'e' will be considered for split

print(s4.islower())
print(s4.isupper())
print(s4.istitle())

s5 = "1234"
print(s5.isdigit())


name = 'prathamesh'
print(name.index('h'))
print(name.rindex('h'))

print(name.find('t'))
print(name.rfind('a'))

print('p' in name)
print('z' not in name)

print(name.find('z'))		# not error if not found
print(name.index('z'))		# throws error if not found

qwerty
QWERTY
           python programming
python programming
helooo
helooo
welcome java session
['welcome', 'python', 'session']
['w', 'lcom', ' python s', 'ssion']
['w', 'lcom', ' python session']
True
False
False
True
4
9
3
5
True
True
-1

ValueError: substring not found

In [50]:
name = 'prathamesh'
age = 21

print(f"My name is {name} and I am {age} years old.")
print("My name is %s and I am %d years old." % (name, age))

My name is prathamesh and I am 21 years old.
My name is prathamesh and I am 21 years old.

In [77]:
s1 = 'Hello World'
# o/p : [['HELLO', 'hello', 5], ['WORLD', 'world', 5]]


print([s1.split(' '),s1.upper(), s1.lower(), len(s1)],"\n")


l1 = []
sp = s1.split(' ')
for word in sp:
	l1.append([word.upper(), word.lower(), len(word)])
print(l1)

[['Hello', 'World'], 'HELLO WORLD', 'hello world', 11]

[['HELLO', 'hello', 5], ['WORLD', 'world', 5]]

# Function as a Parameter (Higher-Order Function)
In Python, functions are treated like variables. You can pass them into other functions to be executed later.

* **Syntax:** Pass the name **without parentheses** (e.g., `fun1`, not `fun1()`).
    * `fun1()`: Executes immediately and passes the *result*.
    * `fun1`: Passes the *logic* (the function object) to be used later.

### Example
```python
def square(x):
    return x * x

def process(func, num):
    return func(num)  # 'square' is called here

# Pass 'square' without brackets
print(process(square, 5))  # Output: 25

In [78]:
def hello():
    print("Hello, World!")

hello()

Hello, World!

In [87]:
def greet():
    return "Hello!"

def message(m):
    return m.upper() 

message(greet())

'HELLO!'

# Decorator

In [ ]:
def my_decorator(func):
	def wrapper():
		print("Before")
		func()
		print("After")
	return wrapper

@my_decorator
def say_hello():			# say_hello = my_decorator(say_hello)
	print("Hello!")

say_hello()

Before
Hello!
After

In [100]:
# default arguments

def greet(name="Guest", age = 18):
    print(f"Hello, {name}! You are {age}.")

greet('Bob', 25)
greet(12,"Alice")
greet()

Hello, Bob! You are 25.
Hello, 12! You are Alice.
Hello, Guest! You are 18.

In [101]:
# keyword arguments
def greet(name, age):
	print(f"Hello, {name}! You are {age} years old.")

greet(age=30, name='Alice')
greet(name='Bob', age=25)

Hello, Alice! You are 30 years old.
Hello, Bob! You are 25 years old.

In [105]:
# variable arguments
# NO Datatype restriction
def total(*number):		
    print(number)
    print(sum(number))
    
total(1, 2, 3)

(1, 2, 3)
6

In [106]:
# varible-length and keyword arguments

def msg(**para):
    print(para)
    
msg(name='Alice', age=30, city='New York')

{'name': 'Alice', 'age': 30, 'city': 'New York'}

# Recursion

In [107]:
def factorial(n):
	if n == 0 or n == 1:
		return 1
	else:
		return n * factorial(n - 1)
	
factorial(5)

120