## 10/11/25

## Chapter 02:

1. list and tuple
2. dictornary
3. sequence datatype
4. Two - dimentional list
5. Dictionary method 01 & 02
6. Set Datatypes

## 1. List and Tuple

In [1]:
p1 = ['David', 20, 1, 180.0, 100.0]
p2 = ['john', 25, 1, 170.0, 80.0]
p3 = ['jane', 22, 0, 169.0, 60.0]
p4 = ['peter', 40, 1, 150.0, 50.0]

p_list = p1 + p2 + p3 + p4

n_person = int(len(p_list) / 5)
age_sum = 0.0
for age in p_list[1::5]:
    age_sum += age
age_ave = float(age_sum / n_person)
print("Average age: ", str(age_ave))

Average age:  26.75

In [3]:
l1 = list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l2 =[11,22,33,44,55,66]
print(len(l2))

print(l2[0])
print(l2[1])

6
11
22

In [14]:
l2[1::2]

[22, 44, 66]

In [15]:
22 in l2

True

In [16]:
33 not in l2

False

In [20]:
q = 22

22 is q

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\iiiaamnooob\AppData\Local\Temp\ipykernel_18668\1746771490.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  22 is q

True

In [23]:
print(l2)
if 55 in l2:
    l2.remove(55)

print(l2)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 44, 66]

In [25]:
p1 = ['David', 20, 1, 180.0, 100.0]
p2 = ['john', 25, 1, 170.0, 80.0]

concatination_of_list = p1 + p2
print(concatination_of_list)


p1.pop(3)
print(p1)


p1.insert(1, 'Doe')
print(p1)

['David', 20, 1, 180.0, 100.0, 'john', 25, 1, 170.0, 80.0]
['David', 20, 1, 100.0]
['David', 'Doe', 20, 1, 100.0]

## 1.1 Tuple

In [32]:
color = ('red', 'green', 'blue')
color

print(color.count('red'))
print(color.index('green'))

1
1

## 2. Dictionary

In [18]:
d = {'Name' : 'Prathamesh', 
     'Age' : 20, 
     'Div' : 'B'}

print(d)

print('Name : ',d['Name'])
print('Age : ',d['Age'])
print('Div : ',d['Div'])


# Dictionary Metheds
d['Roll'] = 101 
print(d)

print(d.keys())

print(d.get('Name'))

print(d.values())

print(d.pop('Roll'))

{'Name': 'Prathamesh', 'Age': 20, 'Div': 'B'}
Name :  Prathamesh
Age :  20
Div :  B
{'Name': 'Prathamesh', 'Age': 20, 'Div': 'B', 'Roll': 101}
dict_keys(['Name', 'Age', 'Div', 'Roll'])
Prathamesh
dict_values(['Prathamesh', 20, 'B', 101])
101

In [ ]:
### Dictionary : set of key- value pair

In [42]:
person={
    'name':'John Doe',
    'Age':55,
    'Weight':69
}
person['Job']='Data Scientist'
person

{'name': 'John Doe', 'Age': 55, 'Weight': 69, 'Job': 'Data Scientist'}

In [43]:
del person['Age']
person

{'name': 'John Doe', 'Weight': 69, 'Job': 'Data Scientist'}

In [53]:
# dictionary Function

# person.__len__()
len(person)

3

In [54]:
d1 = {'Name' : 'david', 'age' : 20}
d2 = {'age': 20, 'Name' : 'david'}

d1 == d2

True

## JSON Data Dictionary / list Conversion

In [55]:
import json

data = '{"Name" : "David", "Age" : 25, "HObhy" : ["basketball],\
    "family": {"Father": "John", "mother": "marry"}, "Married": True}'

data

'{"Name" : "David", "Age" : 25, "HObhy" : ["basketball],    "family": {"Father": "John", "mother": "marry"}, "Married": True}'