## 13/11/2025

----

### 1. Multiple Dimensional Directory

---

### 2. Module
- Its is a script file of python function, variable, or classes 

1. `date`
2. `time`
3. `math`
	- sqrt: Return non-negative square root of x; raises on negative inputs.
	- sin: Return sine of x where x is measured in radians.
	- cos: Return cosine of x where x is measured in radians.
	- tan: Return tangent of x where x is measured in radians.
	- log: Return natural logarithm of x; base defaults to Euler's number.
	- log10: Return base-ten logarithm of x; x must be positive argument.
	- exp: Return e raised to the power of x (e**x) value.
	- floor: Return largest integer less than or equal to x value.
	- ceil: Return smallest integer greater than or equal to x value.
	- fabs: Return absolute value of x as a float type result.

--- 

### 3. set and operations
- `add`
- `discard`
- `clear`
- `issubset`
- `issuperset` 
- `isdisjoin`

In [1516]:
planet = {
    'Mercury':{
        'radius' : 234.8,
        'mass' : 123456
    },
    'Earth' : {
        'radius' : 45678.9,
        'mass' : 567890
    }
}

planet

print(planet['Mercury']['mass'])
print(planet['Earth']['radius'])

123456
45678.9

In [1517]:
x = {'a' : 0, 'b' : 0, 'c' : 0, 'd' : 0}
y = x

print(x is y)

y = x.copy()	# Stores dictionary elements into new memory address
print(x is y)
print(x == y)

True
False
True

In [1518]:
import copy

x = {'a' : {'python' : '2.7'},'b' : {'python' : '38'}}
y = copy.deepcopy(x)
print(x is y)

y['a']['python'] = '2.7.15'

print(f'og value : {x}')
print(f'Upadted value : {y}')

False
og value : {'a': {'python': '2.7'}, 'b': {'python': '38'}}
Upadted value : {'a': {'python': '2.7.15'}, 'b': {'python': '38'}}

## 2. Date Module

In [1457]:
import datetime
today = datetime.datetime.today()
print(today)

print(datetime.date.today())
print(today.year)
print(today.month)
print(today.day)
print(today.hour)
print(today.minute)

2025-11-14 15:56:10.206996
2025-11-14
2025
11
14
15
56

In [1512]:
start = datetime.datetime.now()
start.replace(month = 12, day = 25)

datetime.datetime(2025, 12, 25, 15, 57, 22, 395861)

In [1514]:
import datetime as dt

start = dt.datetime.now()
start.replace(month = 12, day = 25)

datetime.datetime(2025, 12, 25, 15, 58, 28, 515945)

In [1622]:
import time
second = time.time()
print("time aftre epoxy : ", second)

time aftre epoxy :  1763116823.5676062

In [1623]:
unix = time.time()
local = time.localtime(unix)
local

time.struct_time(tm_year=2025, tm_mon=11, tm_mday=14, tm_hour=16, tm_min=12, tm_sec=24, tm_wday=4, tm_yday=318, tm_isdst=0)

In [1624]:
import math 

dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

## 3. Set

In [1626]:
num = {1,2,3}
num.add(4)
num

{1, 2, 3, 4}

In [1627]:
num.remove(2)
num

{1, 3, 4}

In [1630]:
set([1,2,3,2,1,3])

{1, 2, 3}

## Set Operations

1. union
2. Difference
	- 2.1 symmetric Difference

In [1632]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 | s2		#union

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1 & s2		# intersection
s1.union(s2)

{4, 5}

In [ ]:
s1 - s2 	# difference
s1.difference(s2)

{1, 2, 3}

In [ ]:
s1 ^ s2 	#symmetric diff

{1, 2, 3, 6, 7, 8}

In [1638]:
num = {2,3,1}

for i in num : 
    print(i)

1
2
3